* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}


.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 16px;
}

.gallery-item {
  flex-basis: calc(100% / 3 - 12px);
  border-radius: 4px;
  overflow: hidden;
}

.gallery-img {
  display: block;
  height: 244px;
  width: 100%;
  border-radius: 4px;
}